/*------------------------------------------------------------------------------------------------*\
    Fallback Search Form Pattern v0.1
\*------------------------------------------------------------------------------------------------*/

// Colours:

$fallback--search-form--bg-color:              #bbb !default;
$fallback--search-form__field--bg-color:       #eee !default;
$fallback--search-form__field--bg-color-alt:   #ddd !default;
$fallback--search-form__submit--bg-color:      #ddd !default;
$fallback--search-form__submit--bg-color--alt: #ccc !default;
$fallback--search-form__cancel--bg-color:      #bbb !default;
$fallback--search-form__cancel--bg-color--alt: #999 !default;


// Sizes:

$fallback--search-form__field--height:         20px !default;
$fallback--search-form__field--spacing:        5px !default;


// Breakpoints:

$fallback--search-form--breakpoint--enhanced:  720px !default;


// SVG's

$fallback--search-form__cancel--svg:           "data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj48cGF0aCAgZmlsbD0iIzQ0NDQ0NCIgZD0iTTE1LjgzMyA1LjM0NmwtMS4xNzktMS4xNzktNC42NTQgNC42NTQtNC42NTQtNC42NTQtMS4xNzkgMS4xNzkgNC42NTQgNC42NTQtNC42NTQgNC42NTQgMS4xNzkgMS4xNzkgNC42NTQtNC42NTQgNC42NTQgNC42NTQgMS4xNzktMS4xNzktNC42NTQtNC42NTR6Ij48L3BhdGg+PC9zdmc+" !default;


// Fallback PNG's:

$fallback--search-form__submit--png:           "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABTklEQVQ4T6VT21GDQBTNAv9qBaEDSQUij3+pQNMBnUgHagXJPw+3A0kFxg5SAA/P2VlmFtw4ZmQmA7t377nnsREr40mSJMfyEb9Ab7fjOBZ1Xb+Z58xvwUUYhtee570bjcvzbdd191LK07KgAOI4boUQt5j2hWXe933Lfdd1yaRAbY13W1XV5geApv3MZjQGyylkByAOWA/DsG2a5nUmwZieQevephVnHgCws7EQYDCyCRpvbBq1Rz48+uQ3ZCjZ0/N/gEskwKcDZE4RKxIiiqInx3FeUDzCxM0ZEz/ggW81cRHjEQdz+HHgPnQzWsbo26YrBtokRiV5F2wpsFnXJMAzk+XMUcohgwmIjWTA7JGWBPgdo0R9W5alumwzANv0ac+8UAA9ASRDpPLPAARK0zRAM5lccU1TLwJgE6SEePGPt1JMfqN9rqajLwCw/wY2tMxY4fByDwAAAABJRU5ErkJggg==" !default;


/* -- Basic/fallback layout --------------------------------------------------------------------- */

    /*
        NOTES:
        
        .search-form--right
        It's not possible to easily re-create this variation so it won't be on the right in 
        non-flexbox browsers, but that's ok, it's still usable.
        IE 8 and 9 are forced into submission for this.
    
    */

    /* -- .search-form ---------------------------------------------------------------------------*/

    .search-form {
        background: $fallback--search-form--bg-color;
    

        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    
        .search-form:before,
        .search-form:after {
            content: " ";
            display: table;
        }

        .search-form:after {
            clear: both;
        }
    
    /* IE7- hacks (can't use MQ else IE8's Respond applies it): */
    .search-form {
        *zoom: 1;
        *padding-bottom: 5px;
    }
    
    /* -------------------------------------------------------------------------------------------*/
    
    /* -- .search-form__cancel -------------------------------------------------------------------*/
    
    .search-form__cancel {
        display: none;
    }
    
    /* -------------------------------------------------------------------------------------------*/
    
    /* -- .search-form__field --------------------------------------------------------------------*/

    /*
        1. This to override normalize.
    */
    .search-form__field {
        -webkit-appearance: none !important; /* [1] */
        -webkit-border-radius: 0px;
        border-radius: 0px;
        border: 0;
        -webkit-border-box: content-box;
        border-box: content-box;
        
        @include fallback-rem(height, $fallback--search-form__field--height);
        @include fallback-rem(line-height, $fallback--search-form__field--height);
        
        @include fallback-rem(margin, $fallback--search-form__field--spacing 0 $fallback--search-form__field--spacing $fallback--search-form__field--spacing);
        @include fallback-rem(padding, $fallback--search-form__field--spacing);

        float: left;

        -webkit-flex: 1 0 auto;
            -ms-flex: 1 0 auto;
                flex: 1 0 auto;
    }
    
    .search-form--right .search-form__field {        
         -webkit-order: 2;
        -ms-flex-order: 2;
                 order: 2;
    }

    /*
        Opera Mini Hacks
        Opea mini 7- ignores line height.
        Opera Mini 8 seems to enforce a minimum font size for the search field which forces it to be
        higher than it should be.
        min-height and no padding seems to fix it.
    */
    .opera-mini .search-form__field {
        padding: 0;
        @include fallback-rem(min-height, ($fallback--search-form__field--height + ($fallback--search-form__field--spacing * 2)));
    }

    
    /* -------------------------------------------------------------------------------------------*/
    
    /* -- .search-form__submit -------------------------------------------------------------------*/

    .search-form__submit {
        -webkit-appearance: none;
        border-radius: 0;
        border: 0;
        -webkit-border-box: content-box;
        border-box: content-box;
        
        background: $fallback--search-form__submit--bg-color;
        
        @include fallback-rem(height, ($fallback--search-form__field--height + ($fallback--search-form__field--spacing * 2)));
        //@include fallback-rem(line-height, ($fallback--search-form__field--height + ($fallback--search-form__field--spacing * 2)));
        line-height: 0;
        
        @include fallback-rem(margin, $fallback--search-form__field--spacing $fallback--search-form__field--spacing $fallback--search-form__field--spacing 0);
        @include fallback-rem(padding, 0 ($fallback--search-form__field--spacing * 2));
        
        float: left;
        
        -webkit-flex: 0 1 auto;
            -ms-flex: 0 1 auto;
                flex: 0 1 auto;
    }

    .search-form__submit:hover,
    .search-form__submit:active,
    .search-form__submit:focus {
        background-color: $fallback--search-form__submit--bg-color--alt;
    }

    
    .search-form--right .search-form__submit {    
         -webkit-order: 2;
        -ms-flex-order: 2;
                 order: 2;
    }
    
    
    .search-form__submit svg {
        //vertical-align: middle;
        @include fallback-rem(height, $fallback--search-form__field--height);
        @include fallback-rem(width, $fallback--search-form__field--height);
    }
    
    
    /* PNG Fallback */    
    .no-svg.datauri .search-form__submit:before {
        content: url($fallback--search-form__submit--png);
        //vertical-align: middle;
    }
    
    .no-svg.datauri .search-form__submit span {
        display: none;
    }


    /* -------------------------------------------------------------------------------------------*/
    
    /* -- .search-form__collapse -----------------------------------------------------------------*/

    .search-form__collapse {          
        
        list-style-type: none;
        padding: 0;
        margin: 0;
        float: left;
        
        -webkit-box-flex: 0;
            -webkit-flex: 0 1 auto;
                -ms-flex: 0 1 auto;
                    flex: 0 1 auto;
    }
    
    /* -------------------------------------------------------------------------------------------*/
    
    
        
    /* IE8 hacks: */
    @media \0screen {
        
        .search-form--right .search-form__submit,
        .search-form--right .search-form__field {
            float: right;
        }
        
        .search-form--right .search-form__field {
            margin-left: -340px; /* @var */
            margin-right: 20px; /* @var */
        }

    }
    
    /* IE9 hacks: */
    @media all and (min-width:0\0) and (min-resolution: .001dpcm)
    {
        .search-form--right .search-form__submit,
        .search-form--right .search-form__field {
            float: right;
        }
        
        .search-form--right .search-form__field {
            margin-left: -340px; /* @var */
            margin-right: 20px; /* @var */
        }
        
    }

    

    /* -- Enhanced layout ----------------------------------------------------------------------- */
    @media only screen and (max-width: ($fallback--search-form--breakpoint--enhanced - 1)) {
        
        .search-form--right .search-form__submit,
        .search-form--right .search-form__field {
            float: left;
        }
        
        .search-form--right .search-form__field {
            @include fallback-rem(margin-left, $fallback--search-form__field--spacing);
            margin-right: 0;
        }
        
        .search-form__collapse {
            width: 100%;
        }
        
        
        .no-flexbox .search-form {
            display: block;
        }
    }
    
    @media only screen and (min-width: $fallback--search-form--breakpoint--enhanced) {

        .search-form__cancel {
            display: none;
            
            background-color: $fallback--search-form__cancel--bg-color;
            
            @include fallback-rem(padding-right, ($fallback--search-form__field--spacing * 2));
            @include fallback-rem(padding-left, ($fallback--search-form__field--spacing * 2));

            @include fallback-rem(line-height, ($fallback--search-form__field--height + ($fallback--search-form__field--spacing * 4)));

             -webkit-order: -1;
            -ms-flex-order: -1;
                     order: -1;
        }
        
        .search-form__cancel:hover,
        .search-form__cancel:focus,
        .search-form__cancel:active {
            background-color: $fallback--search-form__cancel--bg-color--alt;
        }
        
        .search-form__cancel:after {
            content: url($fallback--search-form__cancel--svg);
            
            display: -webkit-inline-flex;
            display: -ms-inline-flexbox;
            display: inline-flex;
            
            line-height: 0;
            vertical-align: middle;
        }

        .search-form__field {
            width: auto;
        }
        
        /*
            Expander
        */        
        .search-form__field:focus ~ .search-form__collapse {
            display: none;
        }
        
        /*
            Cancel button
            Note: only necessary on some touch devices where it can be difficult to un-focus.
        */
        .search-form__field:focus ~ .search-form__cancel {           
            display: block;
        }
        
        /*
            Expander issue:
            Issue: adjacent block is hidden but search field doesn't expand so it looks weird.
            Affects: browsers that DON'T support flexbox, but DO support ~ :focus selector.
                IE9
                FF3.5 - 21 
                Safari6
           
            
        
            --Modernizr adds the .flexbox class. If JS unavailable, expanding doesn't work.
            That's ok, but I may as well just have used JS to make the expanding working the first
            place!!!!??? :-(--
            
            If no-flexbox, undo Expander and Cancel.
            Note, without JS the issue described above will still occur, but it's still usable.

        */
        .no-flexbox .search-form__field:focus ~ .search-form__collapse {
            display: block;
        }
        
        .no-flexbox .search-form__field:focus ~ .search-form__cancel {
            display: none;
        }
        
        
        .search-form__collapse {          
            width: auto;
        }
    }

/* ---------------------------------------------------------------------------------------------- */